* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formulario-cadastro {
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #ccc;
}